//-
  let checkboxGroup = {
    groupTitle: "expandable checkbox list",
    groupName: "HotelRules",
    checkboxValues: [
       "Можно курить", "Можно с питомцами", "Можно пригласить гостей (до 10 человек)"
    ],
    isExpandable: true
  };

mixin checkbox-group(checkboxGroup)
  div(class="checkbox-group" class=checkboxGroup.isExpandable ? "checkbox-group_expandable":"")

    .checkbox-group__header
      div(class="checkbox-group__title text text_type_bold text_size_small text_dark-shade_100 text_uppercase")= checkboxGroup.groupTitle
      if (checkboxGroup.isExpandable) 
          div(class="checkbox-group__expand-more material-icons material-icons_size_m material-icons_dark-shade_50")
            | expand_more

    .checkbox-group__list
      mixin checkbox-group__line(checkboxText, value, name)
        label(class="checkbox-group__line")
          input(type="checkbox" name=name value=value class="checkbox-group__input")
          span(class="checkbox-group__border")
            span(class="checkbox-group__mark")
          div(class="checkbox-group__value text text_type_regular text_size_medium material-icons_dark-shade_50")= checkboxText

      each checkboxValue in checkboxGroup.checkboxValues
        +checkbox-group__line(checkboxValue, checkboxValue, checkboxGroup.groupName)
