-
  let richCheckboxGroup = {
    groupTitle: "Rich Checkbox Buttons",
    groupName: "Benefits",
    checkboxValues: {
       "Широкий коридор": "Ширина коридоров в номере не менее 91 см.",
       "Помощник для инвалидов": "На 1 этаже вас встретит специалист и проводит до номера."
    },
  };

mixin rich-checkbox-group(richCheckboxGroup)
  div(class="checkbox checkbox_rich-checkbox") 
    .checkbox__header
      span(class="checkbox__title checkbox__title_rich-checkbox text text_type_bold text_size_small text_dark-shade_100 text_uppercase")= richCheckboxGroup.groupTitle

    .checkbox__list
      mixin checkbox__line(checkboxTitle, value, checkboxText, name)
        label(class="checkbox__line")
          input(type="checkbox" name=name value=value class="checkbox__input")
          span(class="checkbox__border")
            span(class="checkbox__mark")
          div(class="checkbox__value checkbox__value_rich-checkbox")
            span(class="text text_type_bold text_size_medium text_dark-shade_75")= checkboxTitle
            span(class="text text_type_regular text_size_small text_dark-shade_50")= checkboxText

      each checkboxText, checkboxTitle in richCheckboxGroup.checkboxValues
        +checkbox__line(checkboxTitle, checkboxTitle, checkboxText, richCheckboxGroup.groupName)
